
<div class="detail-photo-container">
  <div class="photo-detail">
    <p>
    {{photo.title}}
    </p>
    <img src="{{photo.link}}" class="photo-large">
    <div class="button-container">
      <div class="button-one">
        <form action="/gallery/{{photo.id}}/edit" method="GET">
          <button class="button" type="submit">EDIT PHOTO</button>
        </form>
      </div>
      <div class="button-two">
        <form action="/gallery/{{photo.id}}?_method=DELETE" method="POST">
          <button class="button" type="submit">DELETE PHOTO</button>
        </form>
      </div>
    </div>
    <div class="caption">
      {{photo.description}}
    </div>
  </div>
  <div class="right-side-column">

  {{#each photos}}
    <a href="/gallery/{{id}}">
      <img src="{{link}}" class="photo-right-column">
    </a>
    <div class="right-column-caption">{{title}} - {{author}}</div>

  {{/each}}

  </div>
</div>