<h2>Edit Photo Details</h2>

{{#each photo}}

<img src="{{link}}" class="photo-right-column">

<form action="/gallery/{{id}}?_method=PUT" method="POST" class="forms">
  Title:<br>
  <input type="text" placeholder="Title" name="title" value="{{title}}">
  <br>
  Author:<br>
  <input type="text" placeholder="Author" name="author" value="{{author}}">
  <br>
  Link:<br>
  <input type="text" placeholder="URL of Your Image" name="link" value="{{link}}">
  <br>
  Description:
  <br>
  <textarea placeholder="Description" rows="10" cols="60" name="description">{{description}}</textarea>
  <br>
  <br>
  <input type="submit">
</form>

{{/each}}

