
    {{#each hero}}
    <div class="hero">
      <img src="{{link}}" class="hero-image">
    </div>
    {{/each}}
    <hr class="hr-under-hero"/>

    <div class="image-grid">

    {{#each photos}}

        <div class="photo-container">
          <a href="/gallery/{{id}}">
            <img src="{{link}}" class="photo">
          </a>
          <br>
          {{title}} - {{author}}
        </div>

    {{/each}}

    </div>


