<h1>Single Photo</h1>

{{#each photo}}

<div class = "photo">
  <p>
  Author: {{author}}<br>
  Link: {{link}}<br>
  Description: {{description}}
  </p>
</div>

<form action="/gallery/{{id}}/edit" method="GET">
  <button type="submit">Edit</button>
</form>

<form action="/gallery/{{id}}" method="GET">
  <button type="submit">Delete</button>
</form>

{{/each}}