
{{#each photo}}

<div class = "photo-detail">
  <p>
  Author: {{author}}<br>
  Description: {{description}}
  </p>
  <img src="{{link}}" class="photo">
</div>

<form action="/gallery/{{id}}/edit" method="GET">
  <button type="submit">Edit</button>
</form>

<form action="/gallery/{{id}}?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>

{{/each}}