
<div class="detail-photo-container">
  <div class="photo-detail">
    <p>
    {{photo.description}} - {{photo.link}}
    </p>
    </br>
    <img src="{{photo.link}}" class="photo-large">
    <div class="caption">
      Sirene is a luxurious restaurant placed at Aker Brygge, where Oslo meets the fjord. We wanted to bring in aspects of nature into this very urban area.
      </br>
      </br>
      The building is designed with layers of flexible and transparent facades, floating on the water surface. When the tide changes, so do the facades of the building. The main components are series of narrow columns and large transparent canvases, which gives associations to the many sailing boats docked nearby.
      <p>
      Aquatic engineer Ole Wroldsen was responsible for the technical challenges of the construction and was part of the design team.
      </p>
      The project was designed in 2009
      </br>
      Copyright www.fantasticnorway.no
    </div>
  </div>
  <div class="right-side-column">

  {{#each photos}}

    <img src="{{link}}" class="photo-right-column">

  {{/each}}

  </div>
</div>
<form action="/gallery/{{photo.id}}/edit" method="GET">
  <button type="submit">Edit</button>
</form>

<form action="/gallery/{{photo.id}}?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>

