
<div class="detail-photo-container">
  <div class="photo-detail">
    <p>
    {{photo.description}} - {{photo.link}}
    </p>
    </br>
    <img src="{{photo.link}}" class="photo-large">
  </div>
  <div class="right-side-column">

  {{#each photos}}

    <img src="{{link}}" class="photo-right-column">

  {{/each}}

  </div>
</div>
<form action="/gallery/{{photo.id}}/edit" method="GET">
  <button type="submit">Edit</button>
</form>

<form action="/gallery/{{photo.id}}?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>

